################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VDVI/.vs/VDVI/FileContentIndex
*.v2
*.v2
*.config
*.vsidx
VDVI/.vs/ProjectEvaluation/vdvi.metadata.v2
VDVI/.vs/ProjectEvaluation/vdvi.projects.v2
VDVI/.vs/VDVI/config/applicationhost.config
VDVI/.vs/VDVI/DesignTimeBuild/.dtbcache.v2
VDVI/.vs/VDVI/FileContentIndex/67328cd7-3f30-45bf-80f9-fea7a809def9.vsidx
VDVI/.vs/VDVI/v17/.futdcache.v1
VDVI/.vs/VDVI/v17/.futdcache.v2
VDVI/.vs/VDVI/v17/.suo
VDVI/ConsoleAppCore/obj/Debug/netcoreapp3.1/SOAPAppCore.AssemblyInfo.cs
VDVI/ConsoleAppCore/obj/Debug/netcoreapp3.1/SOAPAppCore.csproj.AssemblyReference.cache
VDVI/ConsoleAppCore/obj/Debug/netcoreapp3.1/SOAPAppCore.GeneratedMSBuildEditorConfig.editorconfig
VDVI/Framework.Core/obj/Framework.Core.csproj.nuget.dgspec.json
VDVI/Framework.Core/obj/Framework.Core.csproj.nuget.g.props
VDVI/Framework.Core/obj/Framework.Core.csproj.nuget.g.targets
VDVI/Framework.Core/obj/project.assets.json
VDVI/Framework.Core/obj/project.nuget.cache
VDVI/Framework/Framework.Constants/obj/Debug/netcoreapp3.1/Framework.Constants.csproj.AssemblyReference.cache
VDVI/Framework/Framework.Constants/obj/Debug/netcoreapp3.1/Framework.Constants.GeneratedMSBuildEditorConfig.editorconfig
VDVI/Framework/Framework.Core/obj/Debug/netcoreapp3.1/Framework.Core.csproj.AssemblyReference.cache
VDVI/Framework/Framework.Core/obj/Debug/netcoreapp3.1/Framework.Core.GeneratedMSBuildEditorConfig.editorconfig
VDVI/VDVI.DB/bin/Debug/netcoreapp3.1/VDVI.Repositories.deps.json
VDVI/VDVI.DB/bin/Debug/netcoreapp3.1/VDVI.Repositories.dll
VDVI/VDVI.DB/bin/Debug/netcoreapp3.1/VDVI.Repositories.pdb
VDVI/VDVI.DB/obj/Debug/netcoreapp3.1/VDVI.DB.csproj.AssemblyReference.cache
VDVI/VDVI.DB/obj/Debug/netcoreapp3.1/VDVI.DB.GeneratedMSBuildEditorConfig.editorconfig
VDVI/VDVI.DB/obj/Debug/netcoreapp3.1/VDVI.Repositories.assets.cache
VDVI/VDVI.DB/obj/Debug/netcoreapp3.1/VDVI.Repositories.csproj.AssemblyReference.cache
VDVI/VDVI.DB/obj/Debug/netcoreapp3.1/VDVI.Repositories.csproj.CoreCompileInputs.cache
VDVI/VDVI.DB/obj/Debug/netcoreapp3.1/VDVI.Repositories.csproj.FileListAbsolute.txt
VDVI/VDVI.DB/obj/Debug/netcoreapp3.1/VDVI.Repositories.dll
VDVI/VDVI.DB/obj/Debug/netcoreapp3.1/VDVI.Repositories.pdb
VDVI/VDVI.DB/obj/project.assets.json
VDVI/VDVI.DB/obj/project.nuget.cache
VDVI/VDVI.DB/obj/VDVI.Repositories.csproj.nuget.dgspec.json
VDVI/VDVI.DB/Repository/HcsReportManagementSummaryRepository.cs
VDVI/VDVI.DB/VDVI.DB.csproj
VDVI/VDVI.Services/Interfaces/Apma/IReportManagementSummaryService.cs
VDVI/VDVI.Services/obj/Debug/netcoreapp3.1/VDVI.Services.csproj.AssemblyReference.cache
VDVI/VDVI.Services/obj/Debug/netcoreapp3.1/VDVI.Services.csproj.CoreCompileInputs.cache
VDVI/VDVI.Services/obj/Debug/netcoreapp3.1/VDVI.Services.csproj.FileListAbsolute.txt
VDVI/VDVI.Services/obj/Debug/netcoreapp3.1/VDVI.Services.GeneratedMSBuildEditorConfig.editorconfig
VDVI/VDVI.Services/obj/project.assets.json
VDVI/VDVI.Services/obj/project.nuget.cache
VDVI/VDVI.Services/obj/VDVI.Services.csproj.nuget.dgspec.json
VDVI/VDVI.Services/VDVI.Services.csproj
VDVI/VDVI/obj/Debug/netcoreapp3.1/VDVI.csproj.AssemblyReference.cache
VDVI/VDVI/obj/Debug/netcoreapp3.1/VDVI.csproj.FileListAbsolute.txt
VDVI/VDVI/obj/Debug/netcoreapp3.1/VDVI.GeneratedMSBuildEditorConfig.editorconfig
VDVI/VDVI/obj/project.assets.json
VDVI/VDVI/obj/project.nuget.cache
VDVI/VDVI/obj/VDVI.csproj.nuget.dgspec.json
